<!DOCTYPE html>

{% extends "main/base.html" %}
{% load static %}
{% block body_block%}
<div class="jumbotron">
	<div class="row no-gutters">
		<!-- <div class="col-lg-3">
                 <img src="{% static "main/images/LOGO1.PNG" %}" class="card-img" alt="...">
             </div> -->
		<div class="card col-lg-12">
			<div id="background_1" class="card-header">
				<div id="header_1" style="border-bottom: 2px solid rgb(0, 0, 0, .2); ">
					<h3 id="text_1" class="row justify-content-md-center" style="font-size: 2.7rem;"> <strong>中華民國輻射防護協會</strong> </h3>
				</div>
				<div id="orth_re_text" class="card-body m-3">
					<h4 id="text_1" class="row justify-content-md-center">國立清華大學原子科學院、行政院原子能委員會、核能研究所、台灣電力公司等機構之學者專家，有鑑於長久以來輻射在社會上引起了各種問題，如環境、健康、法律等問題急待解決，乃發起籌組輻射防護協會，以期結合各界之力量，從客觀立場貢獻心力。</h4>
				</div>
			</div>
		</div>
		&nbsp
		<div class="card col-12">
			<div class="card-header">
				<div id="text_1" class="card-body" style="border-bottom: 2px solid rgb(0, 0, 0, .2); ">
					<h4 id="text_1" class="row justify-content-md-center">輻協為非營利性之組織，其目的為協助政府及民間提昇輻射防護專業知識及技術，促進公眾與環境輻射安全。
						<br> 主要業務如下：<br>
						1. 提供有關輻射防護之評估、諮詢及技術服務。<br>
						2. 人員體外輻射劑量評估服務。<br>
						3. 從事有關輻射防護之研究發展。<br>
						4. 辦理輻射防護相關之訓練及學術研討會。<br>
						5. 推動國內、外有關機構之學術交流合作，提昇輻射防護科技之應用。<br>
						6. 出版輻射防護教材、刊物、技術手冊、通識手冊及輻防簡訊等。<br>
						7. 辦理其它有關輻射防護之業務。<br>

					</h4>
				</div>
				<div class="col col-12" id="header_1" style="border-bottom: 2px solid rgb(0, 0, 0, .2); ">
					<h3 id="ch_read" style="text-align:center; font-size: 2.0rem;">
						財團法人中華民國輻射防護協會<br>
						地址：新竹市東區光復路二段295號15樓之一<br>
						電話：03-5722224<br>
						Email：rpa@ms9.hinet.net<br>
					</h3>
				</div>

			</div>
		</div>
	</div>
</div>




{% endblock %}
